body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 0px 10vw;
    color: #333;
}

h2 {
    font-size: 150%;
    font-weight: 700;
}

section {
    padding: 5px 15px;
}

.loading-indicators section {
    box-shadow: 0 5px 5px -5px #fff, 0 -5px 5px -5px #fff;
}

.img-galleries section {
    box-shadow: 0 5px 5px -5px #000, 0 -5px 5px -5px #000;
}

.asset {
    margin: 10px;
}

.loading-indicators {
    background: #000;
}

.loading-indicators h2, .loading-indicators h3 {
    color: fff;
}

.fork-me-conatiner {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 10vw;
    height: 10vw;
    overflow: hidden;
}

.fork-me-conatiner .fork-me-link {
    text-decoration: none;
    background: #090;
    color: #fff;
    position: absolute;
    white-space: nowrap;
    text-align: center;
    font-size: 80%;
    top: 4vw;
    line-height: 2vw;
    width: 20vw;
    left: -5vw;
    box-shadow: 0 0 7px #000;
    text-shadow: 0px 0px 7px #000;
    outline: 2px dotted rgba(255, 255, 255, 0.4);
    outline-offset: -2px;
    box-sizing: content-box;
    -webkit-transform: rotateZ(45deg) translateY(-1.3vw);
    transform: rotateZ(45deg) translateY(-1.3vw);
}