body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 0px 10%;
}

h2 {
    font-size: 150%;
    font-weight: 700;
}

section {
    padding: 5px 15px;
    box-shadow: 0 5px 5px -5px #fff, 0 -5px 5px -5px #fff;
}

.asset {
    margin: 10px;
}

.loading-indicators {
    background: #000;
}

.loading-indicators h2, .asset h3 {
    color: fff;
}