.linear-overflow-loading-indicator {
    height: 3px;
    position: relative;
}

.linear-overflow-loading-indicator .line {
    width: 0;
    height: 100%;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 0;
    animation: linear-overflow-li-line-iteration 4s infinite linear;
    -webkit-animation: linear-overflow-li-line-iteration 4s infinite linear;
}

.linear-overflow-loading-indicator .line:nth-child(2) {
    animation-delay: 800ms;
    -webkit-animation-delay: 800ms;
}
.linear-overflow-loading-indicator .line:nth-child(3) {
    animation-delay: 1600ms;
    -webkit-animation-delay: 1600ms;
}
.linear-overflow-loading-indicator .line:nth-child(4) {
    animation-delay: 2400ms;
    -webkit-animation-delay: 2400ms;
}
.linear-overflow-loading-indicator .line:nth-child(5) {
    animation-delay: 3200ms;
    -webkit-animation-delay: 3200ms;
}

.linear-overflow-loading-indicator .line.red {
    background: #f00;
}
.linear-overflow-loading-indicator .line.blue {
    background: #00f;
}
.linear-overflow-loading-indicator .line.green {
    background: #0f0;
}
.linear-overflow-loading-indicator .line.yellow {
    background: #ff0;
}
.linear-overflow-loading-indicator .line.purple {
    background: #f0f;
}

@-webkit-keyframes linear-overflow-li-line-iteration {
    0% { width: 0; z-index: 2; }
    20% { z-index: 1; }
    25% { width: 100%; }
    45% { z-index: 0; }
    100% { width: 100%; }
}

@keyframes linear-overflow-li-line-iteration {
    0% { width: 0; z-index: 2; }
    20% { z-index: 1; }
    25% { width: 100%; }
    45% { z-index: 0; }
    100% { width: 100%; }
}