.snaked-square-loading-indicator {
	position: relative;
	width: 60px;
	height: 60px;
}

.snaked-square-loading-indicator .item {
	position: absolute;
	width: 20px;
	height: 20px;
	padding: 0px;
	margin: 0px;
}

.snaked-square-loading-indicator .item-1 {
	background: #ff0000;
	transform: translate(0px, 0px);
	-webkit-animation: snaked-square-item-1-iteration 4s infinite;
	animation: snaked-square-item-1-iteration 4s infinite;
}
.snaked-square-loading-indicator .item-2 {
	background: #00ff00;
	transform: translate(20px, 0px);
	-webkit-animation: snaked-square-item-2-iteration 4s infinite;
	animation: snaked-square-item-2-iteration 4s infinite;
}
.snaked-square-loading-indicator .item-3 {
	background: #0000ff;
	transform: translate(40px, 0px);
	-webkit-animation: snaked-square-item-3-iteration 4s infinite;
	animation: snaked-square-item-3-iteration 4s infinite;
}
.snaked-square-loading-indicator .item-4 {
	background: #004fc2;
	transform: translate(0px, 20px);
	-webkit-animation: snaked-square-item-4-iteration 4s infinite;
	animation: snaked-square-item-4-iteration 4s infinite;
}
.snaked-square-loading-indicator .item-5 {
	background: #aa55ff;
	transform: translate(20px, 20px);
	-webkit-animation: snaked-square-item-5-iteration 4s infinite;
	animation: snaked-square-item-5-iteration 4s infinite;
}
.snaked-square-loading-indicator .item-6 {
	background: #ff00ff;
	transform: translate(40px, 20px);
	-webkit-animation: snaked-square-item-6-iteration 4s infinite;
	animation: snaked-square-item-6-iteration 4s infinite;
}
.snaked-square-loading-indicator .item-7 {
	background: #ffff00;
	transform: translate(0px, 40px);
	-webkit-animation: snaked-square-item-7-iteration 4s infinite;
	animation: snaked-square-item-7-iteration 4s infinite;
}
.snaked-square-loading-indicator .item-8 {
	background: #00ffff;
	transform: translate(20px, 40px);
	-webkit-animation: snaked-square-item-8-iteration 4s infinite;
	animation: snaked-square-item-8-iteration 4s infinite;
}
.snaked-square-loading-indicator .item-9 {
	background: #33cc00;
	transform: translate(40px, 40px);
	-webkit-animation: snaked-square-item-9-iteration 4s infinite;
	animation: snaked-square-item-9-iteration 4s infinite;
}

@-webkit-keyframes snaked-square-item-1-iteration {
	0% {
		transform: translate(0px, 0px);
	}
	7.5% {
		transform: translate(20px, 0px);
	}
	15% {
		transform: translate(20px, 20px);
	}
	22.5% {
		transform: translate(0px, 20px);
	}
	30% {
		transform: translate(0px, 40px);
	}
	37.5% {
		transform: translate(20px, 40px);
	}
	45% {
		transform: translate(40px, 40px);
	}
	52.5% {
		transform: translate(40px, 20px);
	}
	60% {
		transform: translate(40px, 0px);
	}
	67.5% {
		transform: translate(20px, 0px);
	}
	75% {
		transform: translate(0px, 0px);
	}
	82.5% {
		transform: translate(0px, 0px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	97.5% {
		transform: translate(0px, 0px);
	}
}
@keyframes snaked-square-item-1-iteration {
	0% {
		transform: translate(0px, 0px);
	}
	7.5% {
		transform: translate(20px, 0px);
	}
	15% {
		transform: translate(20px, 20px);
	}
	22.5% {
		transform: translate(0px, 20px);
	}
	30% {
		transform: translate(0px, 40px);
	}
	37.5% {
		transform: translate(20px, 40px);
	}
	45% {
		transform: translate(40px, 40px);
	}
	52.5% {
		transform: translate(40px, 20px);
	}
	60% {
		transform: translate(40px, 0px);
	}
	67.5% {
		transform: translate(20px, 0px);
	}
	75% {
		transform: translate(0px, 0px);
	}
	82.5% {
		transform: translate(0px, 0px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	97.5% {
		transform: translate(0px, 0px);
	}
}

@-webkit-keyframes snaked-square-item-2-iteration {
	0% {
		transform: translate(20px, 0px);
	}
	7.5% {
		transform: translate(40px, 0px);
	}
	15% {
		transform: translate(40px, 0px);
	}
	22.5% {
		transform: translate(40px, 20px);
	}
	30% {
		transform: translate(40px, 0px);
	}
	37.5% {
		transform: translate(20px, 0px);
	}
	45% {
		transform: translate(20px, 20px);
	}
	52.5% {
		transform: translate(20px, 0px);
	}
	60% {
		transform: translate(0px, 0px);
	}
	67.5% {
		transform: translate(0px, 0px);
	}
	75% {
		transform: translate(0px, 20px);
	}
	82.5% {
		transform: translate(0px, 40px);
	}
	90% {
		transform: translate(0px, 20px);
	}
	97.5% {
		transform: translate(0px, 20px);
	}
}
@keyframes snaked-square-item-2-iteration {
	0% {
		transform: translate(20px, 0px);
	}
	7.5% {
		transform: translate(40px, 0px);
	}
	15% {
		transform: translate(40px, 0px);
	}
	22.5% {
		transform: translate(40px, 20px);
	}
	30% {
		transform: translate(40px, 0px);
	}
	37.5% {
		transform: translate(20px, 0px);
	}
	45% {
		transform: translate(20px, 20px);
	}
	52.5% {
		transform: translate(20px, 0px);
	}
	60% {
		transform: translate(0px, 0px);
	}
	67.5% {
		transform: translate(0px, 0px);
	}
	75% {
		transform: translate(0px, 20px);
	}
	82.5% {
		transform: translate(0px, 40px);
	}
	90% {
		transform: translate(0px, 20px);
	}
	97.5% {
		transform: translate(0px, 20px);
	}
}

@-webkit-keyframes snaked-square-item-3-iteration {
	0% {
		transform: translate(40px, 0px);
	}
	7.5% {
		transform: translate(40px, 20px);
	}
	15% {
		transform: translate(40px, 40px);
	}
	22.5% {
		transform: translate(20px, 40px);
	}
	30% {
		transform: translate(20px, 20px);
	}
	37.5% {
		transform: translate(0px, 20px);
	}
	45% {
		transform: translate(0px, 40px);
	}
	52.5% {
		transform: translate(20px, 40px);
	}
	60% {
		transform: translate(0px, 40px);
	}
	67.5% {
		transform: translate(20px, 40px);
	}
	75% {
		transform: translate(20px, 20px);
	}
	82.5% {
		transform: translate(40px, 20px);
	}
	90% {
		transform: translate(40px, 0px);
	}
	97.5% {
		transform: translate(40px, 0px);
	}
}
@keyframes snaked-square-item-3-iteration {
	0% {
		transform: translate(40px, 0px);
	}
	7.5% {
		transform: translate(40px, 20px);
	}
	15% {
		transform: translate(40px, 40px);
	}
	22.5% {
		transform: translate(20px, 40px);
	}
	30% {
		transform: translate(20px, 20px);
	}
	37.5% {
		transform: translate(0px, 20px);
	}
	45% {
		transform: translate(0px, 40px);
	}
	52.5% {
		transform: translate(20px, 40px);
	}
	60% {
		transform: translate(0px, 40px);
	}
	67.5% {
		transform: translate(20px, 40px);
	}
	75% {
		transform: translate(20px, 20px);
	}
	82.5% {
		transform: translate(40px, 20px);
	}
	90% {
		transform: translate(40px, 0px);
	}
	97.5% {
		transform: translate(40px, 0px);
	}
}

@-webkit-keyframes snaked-square-item-4-iteration {
	0% {
		transform: translate(0px, 20px);
	}
	7.5% {
		transform: translate(0px, 0px);
	}
	15% {
		transform: translate(20px, 0px);
	}
	22.5% {
		transform: translate(40px, 0px);
	}
	30% {
		transform: translate(40px, 20px);
	}
	37.5% {
		transform: translate(20px, 20px);
	}
	45% {
		transform: translate(0px, 20px);
	}
	52.5% {
		transform: translate(0px, 40px);
	}
	60% {
		transform: translate(20px, 40px);
	}
	67.5% {
		transform: translate(0px, 40px);
	}
	75% {
		transform: translate(0px, 20px);
	}
	82.5% {
		transform: translate(0px, 40px);
	}
	90% {
		transform: translate(0px, 20px);
	}
	97.5% {
		transform: translate(0px, 20px);
	}
}
@keyframes snaked-square-item-4-iteration {
	0% {
		transform: translate(0px, 20px);
	}
	7.5% {
		transform: translate(0px, 0px);
	}
	15% {
		transform: translate(20px, 0px);
	}
	22.5% {
		transform: translate(40px, 0px);
	}
	30% {
		transform: translate(40px, 20px);
	}
	37.5% {
		transform: translate(20px, 20px);
	}
	45% {
		transform: translate(0px, 20px);
	}
	52.5% {
		transform: translate(0px, 40px);
	}
	60% {
		transform: translate(20px, 40px);
	}
	67.5% {
		transform: translate(0px, 40px);
	}
	75% {
		transform: translate(0px, 20px);
	}
	82.5% {
		transform: translate(0px, 40px);
	}
	90% {
		transform: translate(0px, 20px);
	}
	97.5% {
		transform: translate(0px, 20px);
	}
}

@-webkit-keyframes snaked-square-item-5-iteration {
	0% {
		transform: translate(20px, 20px);
	}
	7.5% {
		transform: translate(20px, 40px);
	}
	15% {
		transform: translate(0px, 40px);
	}
	22.5% {
		transform: translate(0px, 40px);
	}
	30% {
		transform: translate(20px, 40px);
	}
	37.5% {
		transform: translate(40px, 40px);
	}
	45% {
		transform: translate(40px, 20px);
	}
	52.5% {
		transform: translate(20px, 20px);
	}
	60% {
		transform: translate(40px, 20px);
	}
	67.5% {
		transform: translate(40px, 40px);
	}
	75% {
		transform: translate(40px, 20px);
	}
	82.5% {
		transform: translate(20px, 20px);
	}
	90% {
		transform: translate(40px, 20px);
	}
	97.5% {
		transform: translate(20px, 20px);
	}
}
@keyframes snaked-square-item-5-iteration {
	0% {
		transform: translate(20px, 20px);
	}
	7.5% {
		transform: translate(20px, 40px);
	}
	15% {
		transform: translate(0px, 40px);
	}
	22.5% {
		transform: translate(0px, 40px);
	}
	30% {
		transform: translate(20px, 40px);
	}
	37.5% {
		transform: translate(40px, 40px);
	}
	45% {
		transform: translate(40px, 20px);
	}
	52.5% {
		transform: translate(20px, 20px);
	}
	60% {
		transform: translate(40px, 20px);
	}
	67.5% {
		transform: translate(40px, 40px);
	}
	75% {
		transform: translate(40px, 20px);
	}
	82.5% {
		transform: translate(20px, 20px);
	}
	90% {
		transform: translate(40px, 20px);
	}
	97.5% {
		transform: translate(20px, 20px);
	}
}

@-webkit-keyframes snaked-square-item-6-iteration {
	0% {
		transform: translate(40px, 20px);
	}
	7.5% {
		transform: translate(20px, 20px);
	}
	15% {
		transform: translate(40px, 20px);
	}
	22.5% {
		transform: translate(40px, 40px);
	}
	30% {
		transform: translate(40px, 40px);
	}
	37.5% {
		transform: translate(40px, 20px);
	}
	45% {
		transform: translate(40px, 0px);
	}
	52.5% {
		transform: translate(40px, 0px);
	}
	60% {
		transform: translate(20px, 0px);
	}
	67.5% {
		transform: translate(40px, 0px);
	}
	75% {
		transform: translate(40px, 0px);
	}
	82.5% {
		transform: translate(20px, 0px);
	}
	90% {
		transform: translate(20px, 20px);
	}
	97.5% {
		transform: translate(40px, 20px);
	}
}
@keyframes snaked-square-item-6-iteration {
	0% {
		transform: translate(40px, 20px);
	}
	7.5% {
		transform: translate(20px, 20px);
	}
	15% {
		transform: translate(40px, 20px);
	}
	22.5% {
		transform: translate(40px, 40px);
	}
	30% {
		transform: translate(40px, 40px);
	}
	37.5% {
		transform: translate(40px, 20px);
	}
	45% {
		transform: translate(40px, 0px);
	}
	52.5% {
		transform: translate(40px, 0px);
	}
	60% {
		transform: translate(20px, 0px);
	}
	67.5% {
		transform: translate(40px, 0px);
	}
	75% {
		transform: translate(40px, 0px);
	}
	82.5% {
		transform: translate(20px, 0px);
	}
	90% {
		transform: translate(20px, 20px);
	}
	97.5% {
		transform: translate(40px, 20px);
	}
}

@-webkit-keyframes snaked-square-item-7-iteration {
	0% {
		transform: translate(0px, 40px);
	}
	7.5% {
		transform: translate(0px, 20px);
	}
	15% {
		transform: translate(0px, 0px);
	}
	22.5% {
		transform: translate(20px, 0px);
	}
	30% {
		transform: translate(0px, 0px);
	}
	37.5% {
		transform: translate(0px, 0px);
	}
	45% {
		transform: translate(0px, 0px);
	}
	52.5% {
		transform: translate(0px, 20px);
	}
	60% {
		transform: translate(20px, 20px);
	}
	67.5% {
		transform: translate(0px, 20px);
	}
	75% {
		transform: translate(0px, 40px);
	}
	82.5% {
		transform: translate(0px, 20px);
	}
	90% {
		transform: translate(0px, 40px);
	}
	97.5% {
		transform: translate(0px, 40px);
	}
}
@keyframes snaked-square-item-7-iteration {
	0% {
		transform: translate(0px, 40px);
	}
	7.5% {
		transform: translate(0px, 20px);
	}
	15% {
		transform: translate(0px, 0px);
	}
	22.5% {
		transform: translate(20px, 0px);
	}
	30% {
		transform: translate(0px, 0px);
	}
	37.5% {
		transform: translate(0px, 0px);
	}
	45% {
		transform: translate(0px, 0px);
	}
	52.5% {
		transform: translate(0px, 20px);
	}
	60% {
		transform: translate(20px, 20px);
	}
	67.5% {
		transform: translate(0px, 20px);
	}
	75% {
		transform: translate(0px, 40px);
	}
	82.5% {
		transform: translate(0px, 20px);
	}
	90% {
		transform: translate(0px, 40px);
	}
	97.5% {
		transform: translate(0px, 40px);
	}
}

@-webkit-keyframes snaked-square-item-8-iteration {
	0% {
		transform: translate(20px, 40px);
	}
	7.5% {
		transform: translate(0px, 40px);
	}
	15% {
		transform: translate(0px, 20px);
	}
	22.5% {
		transform: translate(0px, 0px);
	}
	30% {
		transform: translate(20px, 0px);
	}
	37.5% {
		transform: translate(40px, 0px);
	}
	45% {
		transform: translate(20px, 0px);
	}
	52.5% {
		transform: translate(0px, 0px);
	}
	60% {
		transform: translate(0px, 20px);
	}
	67.5% {
		transform: translate(20px, 20px);
	}
	75% {
		transform: translate(20px, 40px);
	}
	82.5% {
		transform: translate(40px, 40px);
	}
	90% {
		transform: translate(20px, 40px);
	}
	97.5% {
		transform: translate(20px, 40px);
	}
}
@keyframes snaked-square-item-8-iteration {
	0% {
		transform: translate(20px, 40px);
	}
	7.5% {
		transform: translate(0px, 40px);
	}
	15% {
		transform: translate(0px, 20px);
	}
	22.5% {
		transform: translate(0px, 0px);
	}
	30% {
		transform: translate(20px, 0px);
	}
	37.5% {
		transform: translate(40px, 0px);
	}
	45% {
		transform: translate(20px, 0px);
	}
	52.5% {
		transform: translate(0px, 0px);
	}
	60% {
		transform: translate(0px, 20px);
	}
	67.5% {
		transform: translate(20px, 20px);
	}
	75% {
		transform: translate(20px, 40px);
	}
	82.5% {
		transform: translate(40px, 40px);
	}
	90% {
		transform: translate(20px, 40px);
	}
	97.5% {
		transform: translate(20px, 40px);
	}
}

@-webkit-keyframes snaked-square-item-9-iteration {
	0% {
		transform: translate(40px, 40px);
	}
	7.5% {
		transform: translate(40px, 40px);
	}
	15% {
		transform: translate(20px, 40px);
	}
	22.5% {
		transform: translate(20px, 20px);
	}
	30% {
		transform: translate(0px, 20px);
	}
	37.5% {
		transform: translate(0px, 40px);
	}
	45% {
		transform: translate(20px, 40px);
	}
	52.5% {
		transform: translate(40px, 40px);
	}
	60% {
		transform: translate(40px, 40px);
	}
	67.5% {
		transform: translate(40px, 20px);
	}
	75% {
		transform: translate(40px, 40px);
	}
	82.5% {
		transform: translate(20px, 40px);
	}
	90% {
		transform: translate(40px, 40px);
	}
	97.5% {
		transform: translate(40px, 40px);
	}
}
@keyframes snaked-square-item-9-iteration {
	0% {
		transform: translate(40px, 40px);
	}
	7.5% {
		transform: translate(40px, 40px);
	}
	15% {
		transform: translate(20px, 40px);
	}
	22.5% {
		transform: translate(20px, 20px);
	}
	30% {
		transform: translate(0px, 20px);
	}
	37.5% {
		transform: translate(0px, 40px);
	}
	45% {
		transform: translate(20px, 40px);
	}
	52.5% {
		transform: translate(40px, 40px);
	}
	60% {
		transform: translate(40px, 40px);
	}
	67.5% {
		transform: translate(40px, 20px);
	}
	75% {
		transform: translate(40px, 40px);
	}
	82.5% {
		transform: translate(20px, 40px);
	}
	90% {
		transform: translate(40px, 40px);
	}
	97.5% {
		transform: translate(40px, 40px);
	}
}