.snaked-square-loading-indicator {
	position: relative;
	width: 60px;
	height: 60px;
	background: #ffffff;
}

.snaked-square-loading-indicator .item {
	position: absolute;
	width: 20px;
	height: 20px;
	padding: 0px;
	margin: 0px;
}

.snaked-square-loading-indicator .item-1 {
	background: #ff0000;
	transform: translate(0px, 0px);
	-webkit-animation: snaked-square-item-1-iteration 2s infinite;
	animation: snaked-square-item-1-iteration 2s infinite;
}
.snaked-square-loading-indicator .item-2 {
	background: #00ff00;
	transform: translate(20px, 0px);
	-webkit-animation: snaked-square-item-2-iteration 2s infinite;
	animation: snaked-square-item-2-iteration 2s infinite;
}
.snaked-square-loading-indicator .item-3 {
	background: #0000ff;
	transform: translate(40px, 0px);
	-webkit-animation: snaked-square-item-3-iteration 2s infinite;
	animation: snaked-square-item-3-iteration 2s infinite;
}
.snaked-square-loading-indicator .item-4 {
	background: #000000;
	transform: translate(0px, 20px);
	-webkit-animation: snaked-square-item-4-iteration 2s infinite;
	animation: snaked-square-item-4-iteration 2s infinite;
}
.snaked-square-loading-indicator .item-5 {
	background: #ffffff;
	transform: translate(20px, 20px);
	-webkit-animation: snaked-square-item-5-iteration 2s infinite;
	animation: snaked-square-item-5-iteration 2s infinite;
}
.snaked-square-loading-indicator .item-6 {
	background: #ff00ff;
	transform: translate(40px, 20px);
	-webkit-animation: snaked-square-item-6-iteration 2s infinite;
	animation: snaked-square-item-6-iteration 2s infinite;
}
.snaked-square-loading-indicator .item-7 {
	background: #ffff00;
	transform: translate(0px, 40px);
	-webkit-animation: snaked-square-item-7-iteration 2s infinite;
	animation: snaked-square-item-7-iteration 2s infinite;
}
.snaked-square-loading-indicator .item-8 {
	background: #00ffff;
	transform: translate(20px, 40px);
	-webkit-animation: snaked-square-item-8-iteration 2s infinite;
	animation: snaked-square-item-8-iteration 2s infinite;
}
.snaked-square-loading-indicator .item-9 {
	background: #33cc00;
	transform: translate(40px, 40px);
	-webkit-animation: snaked-square-item-9-iteration 2s infinite;
	animation: snaked-square-item-9-iteration 2s infinite;
}

@-webkit-keyframes snaked-square-item-1-iteration {
	0% {
		transform: translate(0px, 0px);
	}
	12.5% {
		transform: translate(20px, 0px);
	}
	25% {
		transform: translate(20px, 20px);
	}
	37.5% {
		transform: translate(40px, 20px);
	}
	50% {
		transform: translate(40px, 40px);
	}
	62.5% {
		transform: translate(20px, 40px);
	}
	75% {
		transform: translate(0px, 40px);
	}
	87.5% {
		transform: translate(0px, 20px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes snaked-square-item-1-iteration {
	0% {
		transform: translate(0px, 0px);
	}
	12.5% {
		transform: translate(20px, 0px);
	}
	25% {
		transform: translate(20px, 20px);
	}
	37.5% {
		transform: translate(40px, 20px);
	}
	50% {
		transform: translate(40px, 40px);
	}
	62.5% {
		transform: translate(20px, 40px);
	}
	75% {
		transform: translate(0px, 40px);
	}
	87.5% {
		transform: translate(0px, 20px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}

@-webkit-keyframes snaked-square-item-2-iteration {
	0% {
		transform: translate(20px, 0px);
	}
	12.5% {
		transform: translate(20px, 20px);
	}
	25% {
		transform: translate(0px, 20px);
	}
	37.5% {
		transform: translate(0px, 40px);
	}
	50% {
		transform: translate(20px, 40px);
	}
	62.5% {
		transform: translate(40px, 40px);
	}
	75% {
		transform: translate(40px, 20px);
	}
	87.5% {
		transform: translate(40px, 0px);
	}
	100% {
		transform: translate(20px, 0px);
	}
}
@keyframes snaked-square-item-2-iteration {
	0% {
		transform: translate(20px, 0px);
	}
	12.5% {
		transform: translate(20px, 20px);
	}
	25% {
		transform: translate(0px, 20px);
	}
	37.5% {
		transform: translate(0px, 40px);
	}
	50% {
		transform: translate(20px, 40px);
	}
	62.5% {
		transform: translate(40px, 40px);
	}
	75% {
		transform: translate(40px, 20px);
	}
	87.5% {
		transform: translate(40px, 0px);
	}
	100% {
		transform: translate(20px, 0px);
	}
}

@-webkit-keyframes snaked-square-item-3-iteration {
	0% {
		transform: translate(40px, 0px);
	}
	12.5% {
		transform: translate(40px, 20px);
	}
	25% {
		transform: translate(40px, 40px);
	}
	37.5% {
		transform: translate(20px, 40px);
	}
	50% {
		transform: translate(0px, 40px);
	}
	62.5% {
		transform: translate(0px, 20px);
	}
	75% {
		transform: translate(20px, 20px);
	}
	87.5% {
		transform: translate(20px, 0px);
	}
	100% {
		transform: translate(40px, 0px);
	}
}
@keyframes snaked-square-item-3-iteration {
	0% {
		transform: translate(40px, 0px);
	}
	12.5% {
		transform: translate(40px, 20px);
	}
	25% {
		transform: translate(40px, 40px);
	}
	37.5% {
		transform: translate(20px, 40px);
	}
	50% {
		transform: translate(0px, 40px);
	}
	62.5% {
		transform: translate(0px, 20px);
	}
	75% {
		transform: translate(20px, 20px);
	}
	87.5% {
		transform: translate(20px, 0px);
	}
	100% {
		transform: translate(40px, 0px);
	}
}

@-webkit-keyframes snaked-square-item-4-iteration {
	0% {
		transform: translate(0px, 20px);
	}
	12.5% {
		transform: translate(0px, 40px);
	}
	25% {
		transform: translate(20px, 40px);
	}
	37.5% {
		transform: translate(20px, 20px);
	}
	50% {
		transform: translate(40px, 20px);
	}
	62.5% {
		transform: translate(40px, 0px);
	}
	75% {
		transform: translate(20px, 0px);
	}
	87.5% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 20px);
	}
}
@keyframes snaked-square-item-4-iteration {
	0% {
		transform: translate(0px, 20px);
	}
	12.5% {
		transform: translate(0px, 40px);
	}
	25% {
		transform: translate(20px, 40px);
	}
	37.5% {
		transform: translate(20px, 20px);
	}
	50% {
		transform: translate(40px, 20px);
	}
	62.5% {
		transform: translate(40px, 0px);
	}
	75% {
		transform: translate(20px, 0px);
	}
	87.5% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 20px);
	}
}

@-webkit-keyframes snaked-square-item-5-iteration {
	0% {
		transform: translate(20px, 20px);
	}
	12.5% {
		transform: translate(0px, 20px);
	}
	25% {
		transform: translate(0px, 40px);
	}
	37.5% {
		transform: translate(20px, 40px);
	}
	50% {
		transform: translate(40px, 40px);
	}
	62.5% {
		transform: translate(40px, 20px);
	}
	75% {
		transform: translate(20px, 20px);
	}
	87.5% {
		transform: translate(0px, 20px);
	}
	100% {
		transform: translate(20px, 20px);
	}
}
@keyframes snaked-square-item-5-iteration {
	0% {
		transform: translate(20px, 20px);
	}
	12.5% {
		transform: translate(0px, 20px);
	}
	25% {
		transform: translate(0px, 40px);
	}
	37.5% {
		transform: translate(20px, 40px);
	}
	50% {
		transform: translate(40px, 40px);
	}
	62.5% {
		transform: translate(40px, 20px);
	}
	75% {
		transform: translate(20px, 20px);
	}
	87.5% {
		transform: translate(0px, 20px);
	}
	100% {
		transform: translate(20px, 20px);
	}
}

@-webkit-keyframes snaked-square-item-6-iteration {
	0% {
		transform: translate(40px, 20px);
	}
	12.5% {
		transform: translate(40px, 0px);
	}
	25% {
		transform: translate(20px, 0px);
	}
	37.5% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, 20px);
	}
	62.5% {
		transform: translate(0px, 40px);
	}
	75% {
		transform: translate(20px, 40px);
	}
	87.5% {
		transform: translate(20px, 20px);
	}
	100% {
		transform: translate(40px, 20px);
	}
}
@keyframes snaked-square-item-6-iteration {
	0% {
		transform: translate(40px, 20px);
	}
	12.5% {
		transform: translate(40px, 0px);
	}
	25% {
		transform: translate(20px, 0px);
	}
	37.5% {
		transform: translate(0px, 0px);
	}
	50% {
		transform: translate(0px, 20px);
	}
	62.5% {
		transform: translate(0px, 40px);
	}
	75% {
		transform: translate(20px, 40px);
	}
	87.5% {
		transform: translate(20px, 20px);
	}
	100% {
		transform: translate(40px, 20px);
	}
}

@-webkit-keyframes snaked-square-item-7-iteration {
	0% {
		transform: translate(0px, 40px);
	}
	12.5% {
		transform: translate(20px, 40px);
	}
	25% {
		transform: translate(20px, 20px);
	}
	37.5% {
		transform: translate(0px, 20px);
	}
	50% {
		transform: translate(0px, 0px);
	}
	62.5% {
		transform: translate(20px, 0px);
	}
	75% {
		transform: translate(20px, 20px);
	}
	87.5% {
		transform: translate(20px, 40px);
	}
	100% {
		transform: translate(0px, 40px);
	}
}
@keyframes snaked-square-item-7-iteration {
	0% {
		transform: translate(0px, 40px);
	}
	12.5% {
		transform: translate(20px, 40px);
	}
	25% {
		transform: translate(20px, 20px);
	}
	37.5% {
		transform: translate(0px, 20px);
	}
	50% {
		transform: translate(0px, 0px);
	}
	62.5% {
		transform: translate(20px, 0px);
	}
	75% {
		transform: translate(20px, 20px);
	}
	87.5% {
		transform: translate(20px, 40px);
	}
	100% {
		transform: translate(0px, 40px);
	}
}

@-webkit-keyframes snaked-square-item-8-iteration {
	0% {
		transform: translate(20px, 40px);
	}
	12.5% {
		transform: translate(40px, 40px);
	}
	25% {
		transform: translate(40px, 20px);
	}
	37.5% {
		transform: translate(20px, 20px);
	}
	50% {
		transform: translate(0px, 20px);
	}
	62.5% {
		transform: translate(0px, 0px);
	}
	75% {
		transform: translate(20px, 0px);
	}
	87.5% {
		transform: translate(20px, 20px);
	}
	100% {
		transform: translate(20px, 40px);
	}
}
@keyframes snaked-square-item-8-iteration {
	0% {
		transform: translate(20px, 40px);
	}
	12.5% {
		transform: translate(40px, 40px);
	}
	25% {
		transform: translate(40px, 20px);
	}
	37.5% {
		transform: translate(20px, 20px);
	}
	50% {
		transform: translate(0px, 20px);
	}
	62.5% {
		transform: translate(0px, 0px);
	}
	75% {
		transform: translate(20px, 0px);
	}
	87.5% {
		transform: translate(20px, 20px);
	}
	100% {
		transform: translate(20px, 40px);
	}
}

@-webkit-keyframes snaked-square-item-9-iteration {
	0% {
		transform: translate(40px, 40px);
	}
	12.5% {
		transform: translate(20px, 40px);
	}
	25% {
		transform: translate(0px, 40px);
	}
	37.5% {
		transform: translate(20px, 40px);
	}
	50% {
		transform: translate(20px, 20px);
	}
	62.5% {
		transform: translate(0px, 20px);
	}
	75% {
		transform: translate(0px, 40px);
	}
	87.5% {
		transform: translate(20px, 40px);
	}
	100% {
		transform: translate(40px, 40px);
	}
}
@keyframes snaked-square-item-9-iteration {
	0% {
		transform: translate(40px, 40px);
	}
	12.5% {
		transform: translate(20px, 40px);
	}
	25% {
		transform: translate(0px, 40px);
	}
	37.5% {
		transform: translate(20px, 40px);
	}
	50% {
		transform: translate(20px, 20px);
	}
	62.5% {
		transform: translate(0px, 20px);
	}
	75% {
		transform: translate(0px, 40px);
	}
	87.5% {
		transform: translate(20px, 40px);
	}
	100% {
		transform: translate(40px, 40px);
	}
}