.win-metro-loading-indicator {
    width: 100%;
    position: relative;
    height: 4px;
    overflow: hidden;
    font-size: 0;
}

.win-metro-loading-indicator .tick-container {
    animation: win-metro-li-tick-iteration 3s infinite cubic-bezier(0.350, 0.800, 0.650, 0.200);
    -webkit-animation: win-metro-li-tick-iteration 3s infinite cubic-bezier(0.350, 0.800, 0.650, 0.200);
}

.win-metro-loading-indicator .tick {
    border: 2px solid #ff0;
    position: absolute;
    left: 0px;
    width: 0px;
}

.win-metro-loading-indicator .tick-container:nth-child(2) {
    animation-delay: 100ms;
    -webkit-animation-delay: 100ms;
}
.win-metro-loading-indicator .tick-container:nth-child(3) {
    animation-delay: 200ms;
    -webkit-animation-delay: 200ms;
}
.win-metro-loading-indicator .tick-container:nth-child(4) {
    animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
}
.win-metro-loading-indicator .tick-container:nth-child(5) {
    animation-delay: 400ms;
    -webkit-animation-delay: 400ms;
}

@-webkit-keyframes win-metro-li-tick-iteration {
    0% { -webkit-transform: translate3d(0px, 0px, 0px); }

    100% { -webkit-transform: translate3d(100%, 0px, 0px); }
}
@keyframes win-metro-li-tick-iteration {
    0% { transform: translate3d(0px, 0px, 0px); }

    100% { transform: translate3d(100%, 0px, 0px); }
}